.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--secondary-color);
  padding: 1rem;
}

.login-container-title {
  font-weight: var(--font-bold);
  text-align: center;
}

.login-container-guest-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.login-container-guest-button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--secondary-color);
}

.login-container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-600);
}

.login-container-form-fields {
  width: 60%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.login-container-form-button {
  width: 60%;
  padding: var(--spacing-100) 0;
  padding-top: var(--spacing-150);
  text-align: center;
  border: none;
  border-radius: 15px;
  background: var(--gradient-1);
  cursor: pointer;
  color: var(--secondary-color);
}
