.login-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--secondary-color);
  text-align: center;
}

.login-container-title {
  font-weight: var(--font-bold);
}

.login-container-guest {
  border: none;
  background: transparent;
  cursor: pointer;
}

.login-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.login-container-form-button {
  width: 100%;
  padding: var(--spacing-100) 0;
  padding-top: var(--spacing-150);
  text-align: center;
  border: none;
  border-radius: 15px;
  background: var(--gradient-1);
  cursor: pointer;
}
