.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--spacing-200);
  background: transparent;
}

.button-submit {
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
